 
	<!-- footer -->
	<div id="footer">
		<div class="container">
			<div class="ft_logo">오산독산성문화제</div>
			<div class="ft_cnt">
				<div class="ft_info clearfix">
					<span class="ft_txt">경기 오산시 현충로 100재단법인 오산문화재단</span>
					<span class="ft_txt">Tel. 031-379-9924</span>
					<span class="ft_txt">Fax. 031-379-9929</span>
					<span class="ft_txt">E-mail. doksanseong@naver.com</span>
				</div>
				<span class="ft_copy">Copyright © www.doksanseong.kr All rights reserved.</span>
			</div>
		</div>
	</div>
	<!-- //footer -->
